################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DesignPattern/v16
/SimpleFactory/obj
/SimpleFactory/bin/Debug/netcoreapp3.1
/.vs/DesignPattern/DesignTimeBuild
/StrategyPattern/obj
/StrategyPattern/bin/Debug/netcoreapp3.1
